<ul class="nav nav-pills">
    <li class="nav-item">
      <input type="button" class="nav-link" routerLink="/admin/pessoas" value="Pessoas"/>
    </li>
    <li class="nav-item">
        <input type="button" class="nav-link" routerLink="/admin/carros" value="Carros"/>
    </li>
    <li class="nav-item">
        <input type="button" class="nav-link" routerLink="/admin/livros" value="Livros"/>
    </li>
    <li class="nav-item">
        <input type="button" class="nav-link" routerLink="/login" value="Voltar"/>
    </li>
</ul>