<div class="col-2 offset-7 btn-group">
    <input class="btn btn-success" type="button" value="Cadastrar novo" (click)="abrirModal(content, -1)"/>
  </div>
  
  <table class="col-6 offset-3">
      <thead>
        <tr>
          <th class="col-3" scope="col">Nome</th>
          <th class="col-3" scope="col">Ano</th>
          <th class="col-3" scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let carro of lista; let i = index">
          <td>{{ carro.nome }}</td>
          <td>{{ carro.ano }}</td>
          <td>
            <input class="btn btn-warning" type="button" value="Editar" (click)="abrirModal(content, i)" />
          </td>
        </tr>
      </tbody>
    </table>
    
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 *ngIf="!editar" class="modal-title">Cadastrar Carro</h4>
    <h4 *ngIf="editar" class="modal-title">Editar Carro</h4>
    <button type="button" class="btn-close" aria-label="Close"
    (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-carrosdetails [editar]="editar" [carroRecebido]="carroEnviar" (retorno)="alteraLista($event)"></app-carrosdetails>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light"
    (click)="modal.close('Close click')">Fechar</button>
  </div>
</ng-template>