/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

table {
    border: 2px solid black;
    text-align: center;
    border-spacing: 0;
}

th{
    background-color: gray;
    border: 1px solid gray;
}
